<app-navbar />
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a routerLink ="/" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action">Igris</a>
        <a routerLink ="/about" class="list-group-item list-group-item-action">Beru</a>
        <a routerLink ="/contact"  class="list-group-item list-group-item-action">Bellion</a>
      </div>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
